In [2]:
import pandas as pd
import numpy as np
columns = []
tableData = []

student_vle = pd.read_csv("data/studentVle.csv")
student_info = pd.read_csv("data/studentInfo.csv")
assesments = pd.read_csv("data/assessments.csv")
student_assessments = pd.read_csv("data/studentAssessment.csv")
student_registration = pd.read_csv("data/studentRegistration.csv")

studentRegistration = student_registration[(student_registration.code_module == 'AAA') & (student_registration.code_presentation == '2013J')]

student_info = student_info[(student_info.code_module == 'AAA') & (student_info.code_presentation == '2013J')]
student_info = student_info[['id_student','highest_education', 'final_result']]
tableData = student_info[['id_student','highest_education', 'final_result']]
columns = ['id_student','highest_education', 'final_result']
tableData.head(5)

   id_student      highest_education final_result
0       11391       HE Qualification         Pass
1       28400       HE Qualification         Pass
2       30268  A Level or Equivalent    Withdrawn
3       31604  A Level or Equivalent         Pass
4       32885     Lower Than A Level         Pass

In [3]:
tableData.count()

id_student           383
highest_education    383
final_result         383
dtype: int64

In [4]:
assesments = assesments[(assesments.code_module == 'AAA') & (assesments.code_presentation == '2013J')]
assesmentIds = assesments['id_assessment']
for i in range(len(assesmentIds)): 
    columns.append(str(assesmentIds[i]))

In [5]:
for i in range(len(assesmentIds)): 
    columns.append('S' + str(assesmentIds[i]))

In [6]:
allColumns = ['TSC', 'TDC','excellent','qualified','AS','EwC']
for i in range(len(allColumns)): 
    columns.append(str(allColumns[i]))

In [7]:
featureTable = pd.DataFrame(data =tableData, columns = columns)
featureTable.head(5)

,id_student,highest_education,final_result,1752,1753,1754,1755,1756,1757,S1752,...,S1754,S1755,S1756,S1757,TSC,TDC,excellent,qualified,AS,EwC
0,11391,HE Qualification,Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28400,HE Qualification,Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30268,A Level or Equivalent,Withdrawn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31604,A Level or Equivalent,Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,32885,Lower Than A Level,Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
studentVle = student_vle[(student_vle.code_module == 'AAA') & (student_vle.code_presentation == '2013J')]
studentVle.head(5)

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

In [9]:
for index, row in featureTable.iterrows():
    studentVle = student_vle[student_vle.id_student == row.id_student]
    featureTable.at[index,'TSC'] = studentVle.sum_click.sum()
    featureTable.at[index,'TDC'] = studentVle.date.count()
    studentAssesments = student_assessments[student_assessments.id_student == row.id_student]
    count = 0
    total = 0
    for index1, row1 in studentAssesments.iterrows():
        if(row1.id_assessment  == 1752):
            featureTable.at[index, '1752'] = 1
            featureTable.at[index, 'S1752'] = row1.score
            total += row1.score
            count +=1
        elif(row1.id_assessment  == 1753):
            featureTable.at[index, '1753'] = 1
            featureTable.at[index, 'S1753'] = row1.score
            total += row1.score
            count +=1
        elif(row1.id_assessment  == 1754):
            featureTable.at[index, '1754'] = 1
            featureTable.at[index, 'S1754'] = row1.score
            total += row1.score
            count +=1
        elif(row1.id_assessment  == 1755):
            featureTable.at[index, '1755'] = 1
            featureTable.at[index, 'S1755'] = row1.score
            total += row1.score
            count +=1
        elif(row1.id_assessment  == 1756):
            featureTable.at[index, '1756'] = 1 
            featureTable.at[index, 'S1756'] = row1.score
            total += row1.score
            count +=1
        elif(row1.id_assessment  == 1757):
            featureTable.at[index, '1757'] = 1
            featureTable.at[index, 'S1757'] = row1.score
            total += row1.score
            count +=1
        if(count!= 0):
            average = total/count
            if(average > 80): 
                featureTable.at[index, 'excellent'] = 1
            else: 
                featureTable.at[index, 'excellent'] = 0
    if(row.final_result == 'Pass'):
        featureTable.at[index, 'qualified'] = 1
        featureTable.at[index, 'final_result'] = 1
    elif(row.final_result == 'Withdrawn'):
        featureTable.at[index,'final_result'] = 2
    elif(row.final_result == 'Distinction'):
        featureTable.at[index,'final_result'] = 3
    elif(row.final_result == 'Fail'):
        featureTable.at[index,'final_result'] = 4
featureTable.fillna(0, inplace=True)
featureTable.head(5)

,id_student,highest_education,final_result,1752,1753,1754,1755,1756,1757,S1752,...,S1754,S1755,S1756,S1757,TSC,TDC,excellent,qualified,AS,EwC
0,11391,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,78.0,...,80.0,85.0,82.0,0.0,934.0,196.0,1.0,1.0,0.0,0.0
1,28400,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,70.0,...,70.0,64.0,60.0,0.0,1435.0,430.0,0.0,1.0,0.0,0.0
2,30268,A Level or Equivalent,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,281.0,76.0,0.0,0.0,0.0,0.0
3,31604,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,72.0,...,74.0,88.0,75.0,0.0,2158.0,663.0,0.0,1.0,0.0,0.0
4,32885,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,69.0,...,63.0,35.0,75.0,0.0,1034.0,352.0,0.0,1.0,0.0,0.0

In [178]:
meanTSC = featureTable.TSC.mean()
for index, row in featureTable.iterrows():
    if(row.TSC > meanTSC):
        featureTable.at[index, 'AS'] = 1 
    if(bool(row.excellent) | (bool(row.qualified) and bool(row.AS))):
        featureTable.at[index, 'EwC'] = 1
featureTable.head(50)

,id_student,highest_education,final_result,1752,1753,1754,1755,1756,1757,S1752,...,S1754,S1755,S1756,S1757,TSC,TDC,excellent,qualified,AS,EwC
0,11391,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,78.0,...,80.0,85.0,82.0,0.0,934.0,196.0,1.0,1.0,0.0,1.0
1,28400,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,70.0,...,70.0,64.0,60.0,0.0,1435.0,430.0,0.0,1.0,0.0,0.0
2,30268,A Level or Equivalent,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,281.0,76.0,0.0,0.0,0.0,0.0
3,31604,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,72.0,...,74.0,88.0,75.0,0.0,2158.0,663.0,0.0,1.0,1.0,1.0
4,32885,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,69.0,...,63.0,35.0,75.0,0.0,1034.0,352.0,0.0,1.0,0.0,0.0
5,38053,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,79.0,...,74.0,50.0,68.0,0.0,2445.0,723.0,0.0,1.0,1.0,1.0
6,45462,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,70.0,...,62.0,75.0,68.0,0.0,1492.0,355.0,0.0,1.0,0.0,0.0
7,45642,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,72.0,...,72.0,73.0,73.0,0.0,1428.0,531.0,0.0,1.0,0.0,0.0
8,52130,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,72.0,...,75.0,72.0,70.0,0.0,1894.0,593.0,0.0,1.0,1.0,1.0
9,53025,Post Graduate Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,71.0,...,78.0,80.0,81.0,0.0,3158.0,904.0,0.0,1.0,1.0,1.0
10,57506,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,68.0,...,78.0,80.0,68.0,0.0,1319.0,403.0,0.0,1.0,0.0,0.0
11,58873,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,73.0,...,68.0,73.0,78.0,0.0,1732.0,526.0,0.0,1.0,0.0,0.0
12,59185,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,67.0,...,78.0,88.0,89.0,0.0,1102.0,345.0,0.0,1.0,0.0,0.0
13,62155,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,73.0,...,75.0,70.0,77.0,0.0,3388.0,981.0,0.0,1.0,1.0,1.0
14,63400,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,83.0,...,78.0,76.0,79.0,0.0,2737.0,760.0,0.0,1.0,1.0,1.0
15,65002,A Level or Equivalent,2,1.0,1.0,0.0,0.0,0.0,0.0,66.0,...,0.0,0.0,0.0,0.0,176.0,56.0,0.0,0.0,0.0,0.0
16,70464,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,59.0,...,60.0,61.0,38.0,0.0,1053.0,205.0,0.0,1.0,0.0,0.0
17,71361,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,82.0,...,82.0,77.0,75.0,0.0,2327.0,728.0,1.0,1.0,1.0,1.0
18,74372,A Level or Equivalent,4,1.0,1.0,1.0,1.0,0.0,0.0,60.0,...,67.0,49.0,0.0,0.0,116.0,72.0,0.0,0.0,0.0,0.0
19,75091,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,67.0,...,67.0,65.0,65.0,0.0,2992.0,754.0,0.0,1.0,1.0,1.0
20,77367,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,73.0,...,72.0,67.0,64.0,0.0,680.0,271.0,0.0,1.0,0.0,0.0
21,91265,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,75.0,...,75.0,73.0,57.0,0.0,1494.0,496.0,0.0,1.0,0.0,0.0
22,94961,Lower Than A Level,2,1.0,0.0,0.0,0.0,0.0,0.0,74.0,...,0.0,0.0,0.0,0.0,1240.0,417.0,0.0,0.0,0.0,0.0
23,98094,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,62.0,...,59.0,61.0,62.0,0.0,2839.0,386.0,0.0,1.0,1.0,1.0
24,100893,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,63.0,...,71.0,74.0,66.0,0.0,744.0,243.0,0.0,1.0,0.0,0.0
25,101781,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,84.0,...,75.0,66.0,74.0,0.0,4104.0,913.0,0.0,1.0,1.0,1.0
26,102806,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,80.0,...,86.0,78.0,60.0,0.0,1944.0,781.0,0.0,1.0,1.0,1.0
27,102952,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,76.0,...,83.0,73.0,81.0,0.0,1150.0,313.0,0.0,1.0,0.0,0.0
28,104476,Post Graduate Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,85.0,...,80.0,77.0,78.0,0.0,4777.0,992.0,0.0,1.0,1.0,1.0
29,106247,HE Qualification,2,1.0,1.0,1.0,0.0,0.0,0.0,67.0,...,47.0,0.0,0.0,0.0,465.0,145.0,0.0,0.0,0.0,0.0
30,106577,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,57.0,...,56.0,38.0,65.0,0.0,733.0,221.0,0.0,1.0,0.0,0.0
31,110175,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,66.0,...,68.0,53.0,69.0,0.0,998.0,343.0,0.0,1.0,0.0,0.0
32,111717,HE Qualification,1,1.0,0.0,1.0,0.0,1.0,0.0,80.0,...,80.0,0.0,83.0,0.0,2343.0,589.0,1.0,1.0,1.0,1.0
33,113295,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,81.0,...,77.0,75.0,78.0,0.0,3553.0,1001.0,0.0,1.0,1.0,1.0
34,114017,Post Graduate Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,66.0,...,74.0,72.0,71.0,0.0,757.0,231.0,0.0,1.0,0.0,0.0
35,114999,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,74.0,...,77.0,80.0,54.0,0.0,1358.0,510.0,0.0,1.0,0.0,0.0
36,116541,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,76.0,...,60.0,60.0,50.0,0.0,1886.0,514.0,0.0,1.0,1.0,1.0
37,116692,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,72.0,...,72.0,78.0,72.0,0.0,1108.0,311.0,0.0,1.0,0.0,0.0
38,118983,HE Qualification,1,1.0,1.0,1.0,1.0,1.0,0.0,73.0,...,65.0,63.0,45.0,0.0,284.0,111.0,0.0,1.0,0.0,0.0
39,123044,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,75.0,...,72.0,70.0,68.0,0.0,2041.0,600.0,0.0,1.0,1.0,1.0
40,127582,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,69.0,...,71.0,75.0,67.0,0.0,1321.0,440.0,0.0,1.0,0.0,0.0
41,129955,A Level or Equivalent,2,1.0,1.0,1.0,0.0,0.0,0.0,85.0,...,76.0,0.0,0.0,0.0,1888.0,537.0,1.0,0.0,1.0,1.0
42,132976,Lower Than A Level,1,1.0,1.0,1.0,1.0,1.0,0.0,63.0,...,75.0,72.0,62.0,0.0,520.0,152.0,0.0,1.0,0.0,0.0
43,134143,A Level or Equivalent,3,1.0,1.0,1.0,1.0,1.0,0.0,87.0,...,85.0,86.0,81.0,0.0,2732.0,569.0,1.0,0.0,1.0,1.0
44,135335,Lower Than A Level,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,73.0,34.0,0.0,0.0,0.0,0.0
45,135400,Lower Than A Level,2,1.0,1.0,0.0,0.0,0.0,0.0,72.0,...,0.0,0.0,0.0,0.0,610.0,202.0,0.0,0.0,0.0,0.0
46,137873,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,72.0,...,83.0,78.0,87.0,0.0,5528.0,1409.0,1.0,1.0,1.0,1.0
47,141355,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,77.0,...,70.0,71.0,71.0,0.0,1823.0,585.0,0.0,1.0,1.0,1.0
48,141377,A Level or Equivalent,2,1.0,0.0,0.0,0.0,0.0,0.0,45.0,...,0.0,0.0,0.0,0.0,756.0,250.0,0.0,0.0,0.0,0.0
49,142326,A Level or Equivalent,1,1.0,1.0,1.0,1.0,1.0,0.0,65.0,...,74.0,71.0,82.0,0.0,2121.0,631.0,0.0,1.0,1.0,1.0

In [12]:
featureTable.to_csv("feature.csv", sep=',', encoding='utf-8')